/* MOBILE FIRST */
@media screen and (min-width:768px) {

    /* MAIN SECTION */
    main {
        display: flex;
    }

    /* NAV SECTION */
    .nav-section {
        display: flex;
        width: 10%;
        height: 100%;

    }

    /* CHAT SECTION */
    .chat-section {
        width: 90%;
    }

    /* Header Chat */
    .chat-section .icons {
        display: flex;
        width: 20%;
    }

    /* Footer Chat */
    .ftr-chat .emoji,
    .ftr-chat .audio {
        display: flex;
        font-size: 30px;
        width: 15%;
    }

    .ftr-chat .textbox {
        width: 70%;
    }

}

@media screen and (min-width: 992px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom, var(--green-color), var(--green-color) 20%, #D5DBD9 50px, #D5DBD9);

    }

    /* MAIN SECTION */
    main {
        width: 80%;
        height: 95%;
    }

    /* NAV SECTION */
    .nav-section {
        width: 35%;
        height: 100%;

    }

    .nav-section .icons {
        display: flex;
    }

    /* CHAT SECTION */
    .chat-section {
        width: 65%;
    }

    /* NOTIFICATION */
    .notification {
        display: flex;
    }

    /* SEARCH BAR */
    .search-bar {
        display: flex;
    }

    /* CONTACT INFO */
    .contact-info {
        display: flex;
    }

    .user .hour {
        display: block;
    }

}
