/* MOBILE FIRST */
@media screen and (min-width:768px) {

    /* MAIN SECTION */
    main {
        display: flex;
    }

    /* LEFT SECTION */
    .left-section {
        width: 30%;
        height: 100%;

    }

    /* RIGHT SECTION */
    .right-section {
        width: 70%;
    }

    /* Header Chat */
    .right-section .icons {
        display: block;
        width: 20%;
    }

    /* Footer Chat */
    .ftr-chat .emoji,
    .ftr-chat .audio {
        display: block;
        width: 15%;
    }



}

@media screen and (min-width: 992px) {

    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* MAIN SECTION */
    main {
        width: 80%;
        height: 95%;
    }
}