/* ROOT */
:root {
    --green-color: #009688;
    --my-msg-color: #D5F9BA;
    --your-msg-color: #FFFFFF;
    --notificatio-sec-color: #8EDAFC;
    --gray-color: #EAEAEA;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* -------------------------------------------------------------------------- */
/*                                   COMMON                                   */
/* -------------------------------------------------------------------------- */

body {
    height: 100vh;
}

/* MAIN SECTION */
main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* debug */
    /* background-color: lightcoral; */
}



/* NAV SECTION */
.nav-section {
    padding-top: 80px;
    position: relative;
    display: none;
    background-color: white;
}

.nav-section .container-95 {
    margin: 0 auto;
    background: transparent;
}

.nav-section .profile-pic > img{
    border-radius: 50%;
    width: 50px;
}

.nav-section .icons {
    display: none;
    width: 80%;

    /* debug */
    height: 60px;
    background-color: lightblue;
    border: 1px solid black;
}

/* Notification */
.notification {
    width: 100%;
    height: 80px;
    display: none;
    background-color: var(--notificatio-sec-color);
}

/* Search Bar */
.search-bar {
    width: 100%;
    height: 50px;
    display: none;
    background-color: red;
}

/* Contacts Container */
.contacts-ctn {
    width: 100%;
    overflow-y: scroll;

    /* debug */
    height: 100%;
    /* background-color: lightcoral; */

}


/* User */
.user {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.contact-info {
    display: none;
    width: 75%;

    /* debug */
    height: 60px;
    background-color: lightblue;
    border: 1px solid black;
    
}

/* CHAT SECTION */
.chat-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}


/* HEADER CHAT AND FOOTER CHAT*/
.chat-section .hdr-chat,
.nav-section .hdr-chat,
.chat-section .ftr-chat{
    position: absolute;
    z-index: 9999;

    width: 100%;
    height: 80px;

    /* debug */
    background-color: var(--gray-color);
}

.chat-section .hdr-chat,
.nav-section .hdr-chat {
    top: 0;
    left: 0;
}

/* Right Section Header */
.chat-section .profile-pic,
.chat-section .chat-info,
.chat-section .icons {

    /* debug */
    height: 60px;
    border: 1px solid black;
    background-color: lightblue;
}

.chat-section .chat-info {
    flex-grow: 1;
}

.chat-section .profile-pic {
    max-width: 20%;
    aspect-ratio: 1;
}

.chat-section .icons {
    display: none;
}
/* -------------------------------------------------------------------------- */

/* Left Section Header*/
.nav-section .hdr-chat {
    border-right: 1px solid lightgrey;
}
/* -------------------------------------------------------------------------- */

/* BODY CHAT */

.body-chat {
    width: 100%;
    height: 100%;
    overflow: auto;

    /* debug */
    background-image: url('../img/mine.jpg');
}

.body-chat > .container {
    padding: 100px 20px;
    width: 100%;
    overflow-y: scroll;
    background-color: transparent;
}

/* MESSAGES STYLE */

.your-message,
.my-message {
    padding: 5px 0;
}

.my-message {
    justify-content: flex-end;
}

.message {
    max-width: 300px;
    padding: 15px;
    border-radius: 15px;
}

.your-message > .message {
    background-color: var(--your-msg-color);
}

.my-message > .message {
    background-color: var(--my-msg-color);
}

/* Select */
.select {
    flex-direction: column;
}

.select > i,
.select .hour {
    color: gray;
}

.select .hour {
    font-size: 12px;
}

/* -------------------------------------------------------------------------- */

/* FOOTER CHAT */
.chat-section .ftr-chat{
    position: absolute;
    bottom: 0;
    left: 0;
}

.ftr-chat .emoji,
.ftr-chat .audio {
    display: none;
}

.ftr-chat .textbox, 
.ftr-chat .emoji,
.ftr-chat .audio{

    /* debug */
    height: 60px;
    border: 1px solid black;
    background-color: lightblue;
}

.ftr-chat .textbox {
    flex-grow: 1;
}


/* -------------------------------------------------------------------------- */
/*                                  UTILITIES                                 */
/* -------------------------------------------------------------------------- */

.flex {
    display: flex;
}

.col-dir {
    flex-direction: column;
}

.just-cont-sbtw {
    justify-content: space-between;
}

.just-cont-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.container-95 {
    width: 95%;
    /* debug */
    background-color: lightcoral;
}