/* ROOT */
:root {
    --green-color: #009688;
    --our-msg-color: #D5F9BA;
    --notificatio-sec-color: #8EDAFC;
    --gray-color: #EAEAEA;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* -------------------------------------------------------------------------- */
/*                                   COMMON                                   */
/* -------------------------------------------------------------------------- */

body {
    height: 100vh;
    background: linear-gradient(to bottom, var(--green-color), var(--green-color) 20%, #D5DBD9 50px, #D5DBD9);
}

/* MAIN SECTION */
main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* debug */
    /* background-color: lightcoral; */
}



/* LEFT SECTION */
.left-section {
    position: relative;
    background-color: lightblue;
}



/* RIGHT SECTION */
.right-section {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: lightgreen;
}


/* HEADER CHAT AND FOOTER CHAT*/
.right-section .hdr-chat,
.left-section .hdr-chat,
.right-section .ftr-chat{
    position: absolute;
    z-index: 9999;

    width: 100%;
    height: 80px;

    /* debug */
    background-color: var(--gray-color);
}

.right-section .hdr-chat,
.left-section .hdr-chat {
    top: 0;
    left: 0;
}

/* Right Section Header */
.right-section .profile-pic,
.right-section .chat-info,
.right-section .icons {

    /* debug */
    height: 60px;
    border: 1px solid black;
    background-color: lightblue;
}

.right-section .chat-info {
    flex-grow: 1;
}

.right-section .profile-pic {
    max-width: 20%;
    aspect-ratio: 1;
}

.right-section .icons {
    display: none;
}
/* -------------------------------------------------------------------------- */

/* Left Section Header*/
.left-section .hdr-chat {
    border-right: 1px solid lightgrey;
}
/* -------------------------------------------------------------------------- */

/* BODY CHAT */

.body-chat {
    width: 100%;
    height: 100vh;

    /* debug */
    background-image: url('../img/mine.jpg');
}
/* -------------------------------------------------------------------------- */

/* FOOTER CHAT */
.right-section .ftr-chat{
    position: absolute;
    bottom: 0;
    left: 0;
}

.ftr-chat .emoji,
.ftr-chat .audio {
    display: none;
}

.ftr-chat .textbox, 
.ftr-chat .emoji,
.ftr-chat .audio{

    /* debug */
    height: 60px;
    border: 1px solid black;
    background-color: lightblue;
}

.ftr-chat .textbox {
    flex-grow: 1;
}


/* -------------------------------------------------------------------------- */
/*                                  UTILITIES                                 */
/* -------------------------------------------------------------------------- */

.flex {
    display: flex;
}

.just-cont-sbtw {
    justify-content: space-between;
}

.just-cont-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.container-95 {
    width: 95%;

    /* debug */
    background-color: lightcoral;
}